<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="pingback" href="https://www.radiustheme.com/demo/wordpress/themes/finwave/xmlrpc.php">
    <title>Nivesh | Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
         .elementor-element-28cad1c {
        background-image: url('https://img.freepik.com/free-photo/stacks-coins-arranged-bar-graph_35913-2518.jpg?t=st=1728062223~exp=1728065823~hmac=3c5ca4ffb2d393eff3926652b112e1968c40d4f8a6315fb374ec9d8cfefd2514&w=1380'); 
        background-size: cover; /* Ensures the image covers the entire div */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        height: 500px; /* Adjust the height of the div as needed */
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

.faq-section {
    padding: 50px;
    text-align: center;
    background-color: #f7fafc;
}

.faq-section h2 {
    font-size: 18px;
    color: #25b5a6;
    letter-spacing: 1px;
}

.faq-section h3 {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
}

.faq {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h4 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.faq-question .icon {
    font-size: 24px;
    color: #ff9800;
    transition: all 0.3s ease;
}

.faq-answer {
    padding: 10px 0;
    display: none;
}

.faq-answer p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

/* Hover effect */
.faq-question:hover h4 {
    color: #25b5a6;
}

.faq-question:hover .icon {
    transform: scale(1.1);
}
    </style>


    <style type="text/css">
        @font-face {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 100;
            font-stretch: normal;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTNDJZ9xds.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 200;
            font-stretch: normal;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTtDNZ9xds.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 300;
            font-stretch: normal;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTajNZ9xds.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 400;
            font-stretch: normal;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTNDNZ9xds.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 500;
            font-stretch: normal;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTBjNZ9xds.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 600;
            font-stretch: normal;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTT6jRZ9xds.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 700;
            font-stretch: normal;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTT0zRZ9xds.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 800;
            font-stretch: normal;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTtDRZ9xds.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 900;
            font-stretch: normal;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTnTRZ9xds.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 100;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOiCnqEu92Fr1Mu51QrEzAdKg.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 300;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 500;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 700;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 900;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TLBCc6CsE.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 100;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 100;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojIWmb2Rm.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 200;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoDISmb2Rm.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 300;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjo0oSmb2Rm.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmb2Rm.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoUoOmb2Rm.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4Omb2Rm.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 800;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoDIOmb2Rm.ttf) format('truetype');
        }

        @font-face {
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 900;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoJYOmb2Rm.ttf) format('truetype');
        }
    </style>
    <link rel="stylesheet" id="siteground-optimizer-combined-css-2f7e13a96d2006c29a066f60eb163090"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-content/uploads/siteground-optimizer-assets/siteground-optimizer-combined-css-2f7e13a96d2006c29a066f60eb163090.css"
        media="all" />
    <link rel="preload"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-content/uploads/siteground-optimizer-assets/siteground-optimizer-combined-css-2f7e13a96d2006c29a066f60eb163090.css"
        as="style">
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='https://fonts.googleapis.com/' />
    <link rel="alternate" type="application/rss+xml" title="finwave &raquo; Feed"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/feed/" />
    <link rel="alternate" type="application/rss+xml" title="finwave &raquo; Comments Feed"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/comments/feed/" />
    <style id='classic-theme-styles-inline-css'>
        /*! This file is auto-generated */
        .wp-block-button__link {
            color: #fff;
            background-color: #32373c;
            border-radius: 9999px;
            box-shadow: none;
            text-decoration: none;
            padding: calc(.667em + 2px) calc(1.333em + 2px);
            font-size: 1.125em
        }

        .wp-block-file__button {
            background: #32373c;
            color: #fff;
            text-decoration: none
        }
    </style>
    <style id='global-styles-inline-css'>
        :root {
            --wp--preset--aspect-ratio--square: 1;
            --wp--preset--aspect-ratio--4-3: 4/3;
            --wp--preset--aspect-ratio--3-4: 3/4;
            --wp--preset--aspect-ratio--3-2: 3/2;
            --wp--preset--aspect-ratio--2-3: 2/3;
            --wp--preset--aspect-ratio--16-9: 16/9;
            --wp--preset--aspect-ratio--9-16: 9/16;
            --wp--preset--color--black: #000000;
            --wp--preset--color--cyan-bluish-gray: #abb8c3;
            --wp--preset--color--white: #ffffff;
            --wp--preset--color--pale-pink: #f78da7;
            --wp--preset--color--vivid-red: #cf2e2e;
            --wp--preset--color--luminous-vivid-orange: #ff6900;
            --wp--preset--color--luminous-vivid-amber: #fcb900;
            --wp--preset--color--light-green-cyan: #7bdcb5;
            --wp--preset--color--vivid-green-cyan: #00d084;
            --wp--preset--color--pale-cyan-blue: #8ed1fc;
            --wp--preset--color--vivid-cyan-blue: #0693e3;
            --wp--preset--color--vivid-purple: #9b51e0;
            --wp--preset--color--finwave-primary: #006D5B;
            --wp--preset--color--finwave-secondary: #00473b;
            --wp--preset--color--finwave-yellow: #ffb000;
            --wp--preset--color--finwave-dark-gray: #edf5f4;
            --wp--preset--color--finwave-light-gray: #f1f1f1;
            --wp--preset--color--finwave-white: #ffffff;
            --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
            --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
            --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
            --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
            --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
            --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
            --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
            --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
            --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
            --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
            --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
            --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
            --wp--preset--font-size--small: 16px;
            --wp--preset--font-size--medium: 20px;
            --wp--preset--font-size--large: 36px;
            --wp--preset--font-size--x-large: 42px;
            --wp--preset--font-size--normal: 24px;
            --wp--preset--font-size--huge: 44px;
            --wp--preset--spacing--20: 0.44rem;
            --wp--preset--spacing--30: 0.67rem;
            --wp--preset--spacing--40: 1rem;
            --wp--preset--spacing--50: 1.5rem;
            --wp--preset--spacing--60: 2.25rem;
            --wp--preset--spacing--70: 3.38rem;
            --wp--preset--spacing--80: 5.06rem;
            --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
            --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
            --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
            --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
            --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
        }

        :where(.is-layout-flex) {
            gap: 0.5em;
        }

        :where(.is-layout-grid) {
            gap: 0.5em;
        }

        body .is-layout-flex {
            display: flex;
        }

        .is-layout-flex {
            flex-wrap: wrap;
            align-items: center;
        }

        .is-layout-flex> :is(*, div) {
            margin: 0;
        }

        body .is-layout-grid {
            display: grid;
        }

        .is-layout-grid> :is(*, div) {
            margin: 0;
        }

        :where(.wp-block-columns.is-layout-flex) {
            gap: 2em;
        }

        :where(.wp-block-columns.is-layout-grid) {
            gap: 2em;
        }

        :where(.wp-block-post-template.is-layout-flex) {
            gap: 1.25em;
        }

        :where(.wp-block-post-template.is-layout-grid) {
            gap: 1.25em;
        }

        .has-black-color {
            color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-color {
            color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-color {
            color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-color {
            color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-color {
            color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-color {
            color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-color {
            color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-color {
            color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-color {
            color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-color {
            color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-color {
            color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-color {
            color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-black-background-color {
            background-color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-background-color {
            background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-background-color {
            background-color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-background-color {
            background-color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-background-color {
            background-color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-background-color {
            background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-background-color {
            background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-background-color {
            background-color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-background-color {
            background-color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-background-color {
            background-color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-background-color {
            background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-background-color {
            background-color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-black-border-color {
            border-color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-border-color {
            border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-border-color {
            border-color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-border-color {
            border-color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-border-color {
            border-color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-border-color {
            border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-border-color {
            border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-border-color {
            border-color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-border-color {
            border-color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-border-color {
            border-color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-border-color {
            border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-border-color {
            border-color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-vivid-cyan-blue-to-vivid-purple-gradient-background {
            background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
        }

        .has-light-green-cyan-to-vivid-green-cyan-gradient-background {
            background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
        }

        .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
            background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-orange-to-vivid-red-gradient-background {
            background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
        }

        .has-very-light-gray-to-cyan-bluish-gray-gradient-background {
            background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
        }

        .has-cool-to-warm-spectrum-gradient-background {
            background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
        }

        .has-blush-light-purple-gradient-background {
            background: var(--wp--preset--gradient--blush-light-purple) !important;
        }

        .has-blush-bordeaux-gradient-background {
            background: var(--wp--preset--gradient--blush-bordeaux) !important;
        }

        .has-luminous-dusk-gradient-background {
            background: var(--wp--preset--gradient--luminous-dusk) !important;
        }

        .has-pale-ocean-gradient-background {
            background: var(--wp--preset--gradient--pale-ocean) !important;
        }

        .has-electric-grass-gradient-background {
            background: var(--wp--preset--gradient--electric-grass) !important;
        }

        .has-midnight-gradient-background {
            background: var(--wp--preset--gradient--midnight) !important;
        }

        .has-small-font-size {
            font-size: var(--wp--preset--font-size--small) !important;
        }

        .has-medium-font-size {
            font-size: var(--wp--preset--font-size--medium) !important;
        }

        .has-large-font-size {
            font-size: var(--wp--preset--font-size--large) !important;
        }

        .has-x-large-font-size {
            font-size: var(--wp--preset--font-size--x-large) !important;
        }

        :where(.wp-block-post-template.is-layout-flex) {
            gap: 1.25em;
        }

        :where(.wp-block-post-template.is-layout-grid) {
            gap: 1.25em;
        }

        :where(.wp-block-columns.is-layout-flex) {
            gap: 2em;
        }

        :where(.wp-block-columns.is-layout-grid) {
            gap: 2em;
        }

        :root :where(.wp-block-pullquote) {
            font-size: 1.5em;
            line-height: 1.6;
        }
    </style>
    <style id='finwave-dynamic-inline-css'>
        :root {
            --rt-primary-color: #006d5b;
            --rt-secondary-color: #00473b;
            --rt-tertiary-color: #ffb000;
            --rt-body-bg-color: #ffffff;
            --rt-body-color: #6e7676;
            --rt-border-color: #e7e7e7;
            --rt-title-color: #041b16;
            --rt-button-color: #ffffff;
            --rt-button-text-color: #00030C;
            --rt-meta-color: #006d5b;
            --rt-meta-light: #b2c2c0;
            --rt-gray10: #f1f1f1;
            --rt-gray20: #edf5f4;
            --rt-body-rgb: 110, 118, 118;
            --rt-title-rgb: 4, 27, 22;
            --rt-primary-rgb: 0, 109, 91;
            --rt-secondary-rgb: 0, 71, 59;
            --rt-tertiary-rgb: 255, 176, 0;
            --rt-container-width: 1364px;
        }

        body {
            color: #6e7676;
        }

        :root {
            --rt-body-font: 'Archivo', sans-serif;
            ;
            --rt-heading-font: 'Archivo', sans-serif;
            --rt-menu-font: 'Archivo', sans-serif;
        }

        body {
            font-family: 'Archivo', sans-serif;
            font-size: 16px;
            line-height: 28px;
            font-weight: 500;
        }

        .site-header {
            font-family: 'Archivo', sans-serif;
        }

        .finwave-navigation ul li a {
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Archivo', sans-serif;
            font-weight: 700;
        }

        body .main-header-section {
            border-bottom: none;
        }

        body .finwave-breadcrumb-wrapper {
            border-bottom: none;
        }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script type="text/javascript"
        src="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-includes/js/jquery/jquery.min.js"
        id="jquery-core-js"></script>
    <link rel="https://api.w.org/" href="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-json/" />
    <link rel="alternate" title="JSON" type="application/json"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-json/wp/v2/pages/94" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/xmlrpc.php?rsd" />
    <meta name="generator" content="WordPress 6.6.2" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" title="oEmbed (JSON)" type="application/json+oembed"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.radiustheme.com%2Fdemo%2Fwordpress%2Fthemes%2Ffinwave%2F" />
    <link rel="alternate" title="oEmbed (XML)" type="text/xml+oembed"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.radiustheme.com%2Fdemo%2Fwordpress%2Fthemes%2Ffinwave%2F&#038;format=xml" />
    <style>
        .finwave-header-footer .site-header {
            opacity: 1;
        }
    </style>
    <style>
        body {
            opacity: 0;
            transition: opacity 0.1s 0.1s
        }

        body {
            opacity: 1
        }
    </style>
    <meta name="generator"
        content="Elementor 3.24.0; features: additional_custom_breakpoints, e_optimized_control_loading; settings: css_print_method-external, google_font-enabled, font_display-swap">
    <style>
        .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload),
        .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
            background-image: none !important;
        }

        @media screen and (max-height: 1024px) {

            .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload),
            .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
                background-image: none !important;
            }
        }

        @media screen and (max-height: 640px) {

            .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload),
            .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
                background-image: none !important;
            }
        }
    </style>
    <link rel="icon"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-content/uploads/2024/08/favicon.svg"
        sizes="32x32" />
    <link rel="icon"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-content/uploads/2024/08/favicon.svg"
        sizes="192x192" />
    <link rel="apple-touch-icon"
        href="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-content/uploads/2024/08/favicon.svg" />
    <meta name="msapplication-TileImage"
        content="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-content/uploads/2024/08/favicon.svg" />
</head>

<body
    class="home page-template page-template-elementor_header_footer page page-id-94 finwave-header-footer finwave-header-1 finwave-footer-2 no-trheader no-banner no-top-bar layout-full-width has-sticky-header elementor-default elementor-template-full-width elementor-kit-426 elementor-page elementor-page-94">
    <div id="page" class="site"> <!-- preloader -->
        <div id="preloader"><img width="101" height="101"
                src="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-content/uploads/2024/08/preloader.gif"
                class="attachment-full size-full" alt="" decoding="async" /></div>
        <header id="masthead" class="site-header headroom finwave-header-builder" role="banner">
            <div data-elementor-type="wp-post" data-elementor-id="5741" class="elementor elementor-5741">
                <!-- <div class="elementor-element elementor-element-af62755 elementor-hidden-mobile e-flex e-con-boxed rt-parallax-bg-no e-con e-parent"
                    data-id="af62755" data-element_type="container"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="e-con-inner">
                        <div class="elementor-element elementor-element-6ae69fe e-con-full e-flex rt-parallax-bg-no e-con e-child"
                            data-id="6ae69fe" data-element_type="container">
                            <div class="elementor-element elementor-element-f2b4f46 elementor-invisible elementor-widget elementor-widget-rt-contact-info"
                                data-id="f2b4f46" data-element_type="widget" data-widget_type="rt-contact-info.default">
                                <div class="elementor-widget-container">
                                    <div class="rt-contact-info wow-off fadeInUp" data-wow-delay="200ms"
                                        data-wow-duration="1200ms">
                                        <div class="content-holder">
                                            <ul class="contact-list list-horizontal">
                                                <li class="list "> <i aria-hidden="true"
                                                        class=" icon-rt-location-4"></i> Location: 57 Park Ave, New York
                                                </li>
                                                <li class="list "> <i aria-hidden="true"
                                                        class=" icon-rt-envelope-open-o"></i> Mail: info@gmail.com</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5d56218 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                            data-id="5d56218" data-element_type="container">
                            <div class="elementor-element elementor-element-f1983cb elementor-invisible elementor-widget elementor-widget-rt-button"
                                data-id="f1983cb" data-element_type="widget" data-widget_type="rt-button.default">
                                <div class="elementor-widget-container">
                                    <div class="rt-button wow-off fadeInUp" data-wow-delay="200ms"
                                        data-wow-duration="1200ms"> <a class="btn button-1 row-reverse"
                                            href="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-login.php"
                                            aria-label="button link"> Log In<i class=" icon-rt-user-1"></i> </a></div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-306bef3 elementor-invisible elementor-widget elementor-widget-rt-social-icon"
                                data-id="306bef3" data-element_type="widget" data-widget_type="rt-social-icon.default">
                                <div class="elementor-widget-container">
                                    <div class="rt-social-icon">
                                        <div class="rt-social-item"> <a class="wow-off fadeInUp" data-wow-delay="200ms"
                                                data-wow-duration="1200ms" href="https://www.facebook.com/"
                                                aria-label="Social Icon" style=""> <i class="fab fa-facebook-f"></i>
                                            </a> <a class="wow-off fadeInUp" data-wow-delay="400ms"
                                                data-wow-duration="1200ms" href="https://x.com/"
                                                aria-label="Social Icon" style=""> <i class="fab fa-x-twitter"></i> </a>
                                            <a class="wow-off fadeInUp" data-wow-delay="600ms"
                                                data-wow-duration="1200ms" href="https://www.instagram.com/"
                                                aria-label="Social Icon" style=""> <i class="fab fa-instagram"></i> </a>
                                            <a class="wow-off fadeInUp" data-wow-delay="800ms"
                                                data-wow-duration="1200ms" href="https://www.pinterest.com/"
                                                aria-label="Social Icon" style=""> <i class="fab fa-pinterest-p"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="elementor-element elementor-element-b72034e mega-menu-wrap e-flex e-con-boxed rt-parallax-bg-no e-con e-parent"
                    data-id="b72034e" data-element_type="container">
                    <div class="e-con-inner">
                        <div class="elementor-element elementor-element-4055040 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                            data-id="4055040" data-element_type="container">
                            <div class="elementor-element elementor-element-0a5011f elementor-widget elementor-widget-rt-site-logo"
                                data-id="0a5011f" data-element_type="widget" data-widget_type="rt-site-logo.default">
                                <div class="elementor-widget-container">
                                    <div class="site-branding dark"> <span class="site-title"> <a href="/"
                                                rel="home" aria-label="site logo" class="has-mobile-logo"> <img
                                                    width="149" height="40" src="/images/logoo.png"
                                                    class="rt-site-logo dark-logo" alt="" decoding="async" /><img
                                                    width="149" height="40"
                                                    src="/"
                                                    class="rt-site-logo light-logo" alt="" decoding="async" /><img
                                                    loading="lazy" width="149" height="40" src="/images/logoo.png"
                                                    class="rt-mobile-logo" alt="" decoding="async" /> </a> </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-7d050e6 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                            data-id="7d050e6" data-element_type="container">
                            <div class="elementor-element elementor-element-a79669a elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-rt-site-menu"
                                data-id="a79669a" data-element_type="widget" data-widget_type="rt-site-menu.default">
                                <div class="elementor-widget-container">
                                    <nav class="finwave-navigation" role="navigation">
                                        <div class="menu-main-menu-container">
                                            <ul id="menu-main-menu" class="finwave-navbar">
                                                <li id="menu-item-112"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-94 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children dropdown active menu-item-112">
                                                    <a href="/" class="dropdown-toggle"
                                                        data-toggle="dropdown">Home </a>
                                                </li>
                                                <li id="menu-item-402"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-402">
                                                    <a href="/pages" class="dropdown-toggle"
                                                        data-toggle="dropdown">Pages</a>
                                                </li>
                                                <li id="menu-item-7908"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-7908 mega-menu mega-menu-col-5 hide-header">
                                                    <a href="/faq" class="dropdown-toggle"
                                                        data-toggle="dropdown">FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-662ddf7 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                            data-id="662ddf7" data-element_type="container">
                            <div class="elementor-element elementor-element-804af28 elementor-widget elementor-widget-rt-menu-icons"
                                data-id="804af28" data-element_type="widget" data-widget_type="rt-menu-icons.default">
                                <div class="elementor-widget-container">
                                    <div class="menu-icon-wrapper">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

<section class="faq-section" style="margin-top: 4%;">
    <h2>Frequently Asked Questions</h2>
    <h3>Got Any Questions?</h3>

    <div class="faq">
        <div class="faq-item">
            <div class="faq-question">
                <h4>What makes your investment evaluation tool different from traditional methods?
                </h4>
                <span class="icon">+</span>
            </div>
            <div class="faq-answer">
                <p>
                    Salmon Cherry Salmon Combtail Gourami Frigate Mackerel Snake Mackerel Side-Down Catfish Finback Cat Shark.
                    Re FiawRsh Bonefish Trahira Bristlenose, Longnose Lancetfish Morid. Duis Gravida Augue Velit Eu Dignissim Felis
                    Posuere Quis. Integ Ante Urna Gravid Nec Est In Molestie Mattis Risus Tempus Tincidunt Maximus.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h4>How does the tool help me achieve my financial goals?</h4>
                <span class="icon">+</span>
            </div>
            <div class="faq-answer">
                <p>
                    Explanation about tracking expenses goes here...
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h4>What are behavioral finance-based questions, and why are they important?</h4>
                <span class="icon">+</span>
            </div>
            <div class="faq-answer">
                <p>
                    Explanation about the mobile app goes here...
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h4>How does the community feature work?</h4>
                <span class="icon">+</span>
            </div>
            <div class="faq-answer">
                <p>
                    Explanation about integration goes here...
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h4>How does risk profiling work?</h4>
                <span class="icon">+</span>
            </div>
            <div class="faq-answer">
                <p>
                    Explanation about updates goes here...
                </p>
            </div>
        </div>
    </div>
</section>



        <footer class="site-footer finwave-footer-builder" role="contentinfo">
            <div data-elementor-type="wp-post" data-elementor-id="5771" class="elementor elementor-5771">
                <div class="elementor-element elementor-element-dfec3f5 e-flex e-con-boxed rt-parallax-bg-no e-con e-parent"
                    data-id="dfec3f5" data-element_type="container"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="e-con-inner">
                        <div class="elementor-element elementor-element-2fd5af1 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                            data-id="2fd5af1" data-element_type="container">
                            <div class="elementor-element elementor-element-4591936 elementor-absolute elementor-widget elementor-widget-rt-image"
                                data-id="4591936" data-element_type="widget"
                                data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                                data-widget_type="rt-image.default">
                                <div class="elementor-widget-container">
                                    <div class="rt-image-layout rt-image-layout-1 ">
                                        <div class="rt-image wow slideInUp" data-wow-delay="200ms"
                                            data-wow-duration="1200ms">
                                            <div data-parallax='{"y" : , "x" : }'> <img width="919" height="606"
                                                    src="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-content/uploads/2024/08/footer-shape-01.svg"
                                                    class="attachment-full size-full" alt="" decoding="async" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-23e46a9 elementor-invisible elementor-widget elementor-widget-rt-title"
                                data-id="23e46a9" data-element_type="widget" data-widget_type="rt-title.default">
                                <div class="elementor-widget-container">
                                    <div class="section-title-wrapper ">
                                        <div class="title-inner-wrapper ah-headline"> 
                                            <div class="top-sub-title-wrap wow-off fadeInUp" data-wow-delay="200ms"
                                                data-wow-duration="1200ms"> <span class="top-sub-title default"> WE HELP
                                                    YOU ON EVERY STEP OF THE JOURNEY </span></div>
                                            <div class="wow-off fadeInUp" data-wow-delay="400ms"
                                                data-wow-duration="1200ms">
                                                <h2 class="main-title middle">Get Started Today. <br> Boost Revenue With
                                                    Nivesh</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-9a766df elementor-invisible elementor-widget elementor-widget-rt-button"
                                data-id="9a766df" data-element_type="widget" data-widget_type="rt-button.default">
                                <div class="elementor-widget-container">
                                    <div class="rt-button wow-off fadeInUp" data-wow-delay="200ms"
                                        data-wow-duration="1200ms"> <a class="btn button-2 " href="/login"
                                            target="_blank" rel="nofollow" aria-label="button link"> Get Started Today
                                            <i class="fas fa-arrow-right"></i> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-4aa7b3e e-con-full e-flex rt-parallax-bg-no e-con e-child"
                            data-id="4aa7b3e" data-element_type="container">
                            <div class="elementor-element elementor-element-f73b964 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                                data-id="f73b964" data-element_type="container">
                                <div class="elementor-element elementor-element-1977574 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                                    data-id="1977574" data-element_type="container"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-element elementor-element-5560197 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                                        data-id="5560197" data-element_type="container">
                                        <div class="elementor-element elementor-element-4642e01 elementor-widget elementor-widget-rt-site-logo"
                                            data-id="4642e01" data-element_type="widget"
                                            data-widget_type="rt-site-logo.default">
                                            <div class="elementor-widget-container">
                                                <div class="site-branding light"> <a href="index.html" rel="home"
                                                        aria-label="site logo" class="has-mobile-logo"> <img width="149"
                                                            height="40"
                                                            src="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-content/uploads/2024/08/light-logo.svg"
                                                            class="rt-site-logo dark-logo" alt=""
                                                            decoding="async" /><img width="149" height="40"
                                                            src="/images/logoo.png"
                                                            class="rt-site-logo light-logo" alt=""
                                                            decoding="async" /><img width="149" height="40" src="./"
                                                            class="rt-mobile-logo" alt="" decoding="async" /> </a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-1676cf8 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                                        data-id="1676cf8" data-element_type="container">
                                        <div class="elementor-element elementor-element-763263e elementor-invisible elementor-widget elementor-widget-rt-title"
                                            data-id="763263e" data-element_type="widget"
                                            data-widget_type="rt-title.default">
                                            <div class="elementor-widget-container">
                                                <div class="section-title-wrapper ">
                                                    <div class="title-inner-wrapper ah-headline"> 
                                                        <div class="wow-off fadeInUp" data-wow-delay="400ms"
                                                            data-wow-duration="1200ms">
                                                            <a href="/">
                                                                <h2 class="main-title middle">Home</h2>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-1d19543 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                                        data-id="1d19543" data-element_type="container">
                                        <div class="elementor-element elementor-element-8bbc7bc elementor-invisible elementor-widget elementor-widget-rt-title"
                                            data-id="8bbc7bc" data-element_type="widget"
                                            data-widget_type="rt-title.default">
                                            <div class="elementor-widget-container">
                                                <div class="section-title-wrapper ">
                                                    <div class="title-inner-wrapper ah-headline">
                                                        <div class="wow-off fadeInUp" data-wow-delay="400ms"
                                                            data-wow-duration="1200ms">
                                                            <a href="/pages">
                                                                <h2 class="main-title middle">Pages</h2>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-1d19543 e-con-full e-flex rt-parallax-bg-no e-con e-child"
                                        data-id="1d19543" data-element_type="container">
                                        <div class="elementor-element elementor-element-8bbc7bc elementor-invisible elementor-widget elementor-widget-rt-title"
                                            data-id="8bbc7bc" data-element_type="widget"
                                            data-widget_type="rt-title.default">
                                            <div class="elementor-widget-container">
                                                <div class="section-title-wrapper ">
                                                    <div class="title-inner-wrapper ah-headline">
                                                        <div class="wow-off fadeInUp" data-wow-delay="400ms"
                                                            data-wow-duration="1200ms">
                                                            <a href="/faq">
                                                                <h2 class="main-title middle">FAQ</h2>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-ad1228c elementor-widget elementor-widget-rt-copy-right"
                                data-id="ad1228c" data-element_type="widget" data-widget_type="rt-copy-right.default">
                                <div class="elementor-widget-container">
                                    <div class="copyright-text"> Copyright 2024 Nivesh by RadiusTheme</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer> 
    </div><!-- #page -->
    <script type="text/javascript" id="finwave-main-js-extra"> /* <![CDATA[ */
        var finwaveObj = { "rtl": "ltr", "ajaxURL": "https:\/\/www.radiustheme.com\/demo\/wordpress\/themes\/finwave\/wp-admin\/admin-ajax.php", "finwaveNonce": "2bf9eb4fdb" };
        /* ]]> */</script>
    <script type="text/javascript" id="elementor-frontend-js-before"> /* <![CDATA[ */
        var elementorFrontendConfig = { "environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close", "a11yCarouselWrapperAriaLabel": "Carousel | Horizontal scrolling: Arrow Left & Right", "a11yCarouselPrevSlideMessage": "Previous slide", "a11yCarouselNextSlideMessage": "Next slide", "a11yCarouselFirstSlideMessage": "This is the first slide", "a11yCarouselLastSlideMessage": "This is the last slide", "a11yCarouselPaginationBulletMessage": "Go to slide" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "responsive": { "breakpoints": { "mobile": { "label": "Mobile Portrait", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "Mobile Landscape", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tablet Portrait", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tablet Landscape", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Laptop", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Widescreen", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } }, "version": "3.24.0", "is_static": false, "experimentalFeatures": { "additional_custom_breakpoints": true, "container": true, "container_grid": true, "e_swiper_latest": true, "e_nested_atomic_repeaters": true, "e_optimized_control_loading": true, "e_onboarding": true, "home_screen": true, "ai-layout": true, "link-in-bio": true, "floating-buttons": true }, "urls": { "assets": "https:\/\/www.radiustheme.com\/demo\/wordpress\/themes\/finwave\/wp-content\/plugins\/elementor\/assets\/", "ajaxurl": "https:\/\/www.radiustheme.com\/demo\/wordpress\/themes\/finwave\/wp-admin\/admin-ajax.php" }, "nonces": { "floatingButtonsClickTracking": "073598dbcc" }, "swiperClass": "swiper", "settings": { "page": [], "editorPreferences": [] }, "kit": { "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" }, "post": { "id": 94, "title": "finwave", "excerpt": "", "featuredImage": false } };
        /* ]]> */</script>
    <script defer
        src="https://www.radiustheme.com/demo/wordpress/themes/finwave/wp-content/uploads/siteground-optimizer-assets/siteground-optimizer-combined-js-b1dfc6deb8cc486475370d85c0fa9317.js"></script>
    <script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/95f4a0a5-b3c3-40d3-bbd4-74ce46bfb347/webchat/config.js"
        defer></script>
        <script>
            document.querySelectorAll('.faq-question').forEach((question) => {
    question.addEventListener('click', () => {
        // Get the corresponding answer
        const answer = question.nextElementSibling;

        // Toggle the visibility of the answer
        if (answer.style.display === "block") {
            answer.style.display = "none"; // Collapse the answer
            question.querySelector('.icon').textContent = "+"; // Change icon to plus
        } else {
            answer.style.display = "block"; // Expand the answer
            question.querySelector('.icon').textContent = ""; // Change icon to minus
        }
    });
});

        </script>
</body>

</html>